<% if (theme.social){ %>
	<div class="widget-wrap">
	<% var title = (!!theme.social.title && !hidemyinfo) ? theme.social.title : __('social'); %>
		<h3 class="widget-title"><%= title %></h3>
    <div class="widget widget_athemes_social_icons">
			<div class="widget_athemes_social_icons_pic_and_buttons">
				<% var socialPanelWith = ((theme.social.avatar && !hidemyinfo) && theme.social.links) ? "50" : "100"; %>
				<% var paddingLeft = ((theme.social.avatar && !hidemyinfo) && theme.social.links) ? "padding-left: 10px;" : ""; %>
					<div class="widget_athemes_social_icons_pic_and_buttons_avatar" style="width: <%= socialPanelWith %>%;">
						<% if (theme.social.avatar && !hidemyinfo) { %>
							<img src="<%= theme.social.avatar %>" alt="<%= title %>" >
						<% } %>
					</div><div  style="width: <%= socialPanelWith %>%; <%= paddingLeft %>;">
							<% if (theme.social.links){ %>
								<ul class="clearfix widget-social-icons">   
								<% Object.keys(theme.social.links).forEach(function(key) { %>
										<% if (key == 'email'){ %>
											<li><a href="mailto:<%= theme.social.links[key] %>" title="<%=key.trim()%>"><i class="fa fa-envelope" aria-hidden="true"></i></a></li> 
										<% } else {%>
											<li><a href="<%= theme.social.links[key] %>" target="_blank" title="<%=key.trim()%>"><i class="fa fa-<%= key.toLowerCase() %>" aria-hidden="true"></i></a></li> 
										<% }%>
								<% }) %>
								</ul>
							<% } %>
					</div>
			</div>
				<% if (theme.social.description && !hidemyinfo) { %>
					<div class="widget_athemes_social_icons_description">
							<%- theme.social.description %>
					</div>
				<% } %>
    </div>
  </div>
<% } %>

<script>
	var valuePage = <%- hidemyinfo %>;
	var pageTitle = "<%- title %>";
	var isABoutPage = <%- (!!theme.social.title && !hidemyinfo) %>;
</script>
